---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import SAP from "./icons/SAP.astro"
import Restful from "./icons/Restful.astro"
import JS from "./icons/Javascript.astro"
import Mongo from "./icons/Mongo.astro"
import Frappe from "./icons/Frappe.astro"
import Jira from "./icons/Jira.astro"
import Figma from "./icons/Figma.astro"
import PowerBI from "./icons/PowerBI.astro"
import DrawIO from "./icons/DrawIO.astro"

const TAGS = {
  LINK: {
    name: "Project link",
    class: "bg-black text-white",
    icon: Link,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  LINK2: {
    name: "Project link",
    class: "bg-black text-white",
    icon: Link,
  },
  SAP: {
    name: "SAP",
    class: "bg-[#003159] text-white",
    icon: SAP,
  },
  RESTFUL: {
    name: "RESTful API",
    class: "bg-[#003159] text-white",
    icon: Restful,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JS,
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: Mongo,
  },
  FRAPPE: {
    name: "Frappe",
    class: "bg-[#003159] text-white",
    icon: Frappe,
  },
  JIRA: {
    name: "Jira",
    class: "bg-[#003159] text-white",
    icon: Jira,
  },
  FIGMA: {
    name: "Figma",
    class: "bg-[#003159] text-white",
    icon: Figma,
  },
  POWERBI: {
    name: "Power BI",
    class: "bg-[#003159] text-white",
    icon: PowerBI,
  },
  DRAWIO: {
    name: "Draw.io",
    class: "bg-[#003159] text-white",
    icon: DrawIO,
  },
}
const PROJECTS = [
  {
    title: "SAP - SD & Integration Suite",
    description: [
      { label: "Project timeline", value: "From September 2024 (in developement)" },
      { label: "Project overview", value: "SAP system at Orion Food Vina, one of the largest confectionery manufacturers in South Korea and Vietnam" },
      { label: "Project team size", value: "SAP - 200, Portal Website - 50, Logistic System - 10, Invoice system - 10" },
      { label: "Role", value: "Business Analyst in the Sales & Distribution (SD) division" },
      { label: "Task", value: "Acting as a liaison and analyzing business processes, along with managing APIs between relevant systems, including the PDA for sales personnel, SAP SD, and the logistics system." }
    ],
    link: "https://www.mk.co.kr/en/it/10963955",
    github: "https://www.dmspro.vn/orion-khoi-dong-du-an-chuyen-doi-so-cung-dmspro-buoc-tien-chien-luoc-trong-hieu-qua-kinh-doanh#:~:text=DMSpro%20cung%20c%E1%BA%A5p%20m%E1%BB%96t%20gi%E1%BA%A3i,h%C6%A1n%20ngay%20t%E1%BA%A1i%20c%E1%BB%ADa%20h%C3%A0ng",
    image: "/projects/SAP.png",
    tags: [TAGS.SAP, TAGS.RESTFUL, TAGS.JIRA, TAGS.FIGMA, TAGS.DRAWIO],
  },
  {
    title: "MHM - Shop Heat Map",
    description: [
      { label: "Project timeline", value: "August 2024 - November 2024" },
      { label: "Project overview", value: "A geographical heat map application that allows users to visualize and analyze data related to shop locations that selling Milk of Orion Food Vina." },
      { label: "Team size", value: "5" },
      { label: "Role", value: "Business Analyst cum Tester" },
      { label: "Task", value: "Analyze user requirement, data validation & cleaning, UI UX design." }
    ],
    link2: "https://mhm.orionvina.vn/login/index.html",
    image: "/projects/MHM.png",
    tags: [TAGS.JS, TAGS.MONGO, TAGS.POWERBI, TAGS.DRAWIO],
  },
  {
    title: "DraEdu - EduTech System",
    description: [
      { label: "Project timeline", value: "August 2023 - October 2024" },
      { label: "Project overview", value: "An innovative EduTech system designed to enhance the learning experience for students and educators. The platform offers a variety of tools and resources for online learning, including interactive lessons, assessments, and progress tracking." },
      { label: "Team size", value: "6" },
      { label: "Role", value: "Business Analyst cum UI/UX Designer" },
      { label: "Task", value: "Analyze user requirement, unit test, UI UX design." }
    ],
    link3: "https://draedu.vn/home",
    image: "/projects/Draedu.png",
    tags: [TAGS.FRAPPE, TAGS.FIGMA, TAGS.DRAWIO],
  },

]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, link2, link3 }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">
        {Array.isArray(description) ? (
          <ul class="list-disc pl-4">
            {description.map(item => (
              <li><strong>{item.label}:</strong> {item.value}</li>
            ))}
          </ul>
        ) : description}
      </div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href="https://www.mk.co.kr/en/it/10963955">
              <Link class="size-4" />
              Metanet Global
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href="https://www.dmspro.vn/orion-khoi-dong-du-an-chuyen-doi-so-cung-dmspro-buoc-tien-chien-luoc-trong-hieu-qua-kinh-doanh#:~:text=DMSpro%20cung%20c%E1%BA%A5p%20m%E1%BB%96t%20gi%E1%BA%A3i,h%C6%A1n%20ngay%20t%E1%BA%A1i%20c%E1%BB%ADa%20h%C3%A0ng.">
              <Link class="size-4" />
              DMSPRO
            </LinkButton>
          )}
          {link2 && (
            <LinkButton href="https://mhm.orionvina.vn/login/index.html">
              <Link class="size-4" />
              MHM
            </LinkButton>
          )}
          {link3 && (
            <LinkButton href="https://draedu.vn/home">
              <Link class="size-4" />
              DraEdu
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>


